@page
@model CompletKitInstall.Pages.CategoryModel
@{
    ViewData["Title"] = "Category";
}

<form method="post" class="col-sm-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="col-sm-12">
            <label>Name</label>
            <span></span>
        </div>
        <div class="col-sm-12">
            <input class="col" asp-for="Category.Name" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="col-sm-12">
            <label>Description</label>
        </div>
        <div class="col-sm-12">
            <textarea cols="60" rows="5" asp-for="Category.Description"></textarea>
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
        <div class="col-sm-12 ">
            <input type="submit" value="Add" />
        </div>
    </div>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data">
                            <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-outline-danger" onclick="this.blur();">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>